html, body, #root, .App {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.App {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.canvas-area {
    display: flex;
    justify-content: center;
}

.control-area {
    overflow-y: scroll;
    background: lightblue;
    padding: 20px;
}

.color-choice-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 140px;
}

.color-choice {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.color-choice:hover {
    cursor: pointer;
}
